oscar/
**/target/
**/node_modules
wikidata/
**/*.vocab
**/*.dump
**/*.gz
**/*base64.txt
!**/*.base64.txt

# Output
**/.output
**/.vercel
**/.svelte-kit
**/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.idea
nanogpt/.ipynb_checkpoints/
.vscode
nanogpt/__pycache__/
*.bin
*.pkl
*.pt
*.pyc
*.json
*.jsonl
*.job
input.txt
nanogpt/env/
nanogpt/venv/
